<aside class="sidebar">

  <!-- LOGO -->
  <div class="logo">

    <!-- ✅ LOGO FIXED PATH -->
    <img
      src="assets/rev-logo.png"
      class="logo-img"
      alt="Rev Logo"
    >

    <span class="logo-text">
      Rev Vault
    </span>

  </div>


  <!-- NAV LINKS -->
  <nav class="nav-links">

    <a routerLink="/dashboard" routerLinkActive="active">
      📊 Dashboard
    </a>

    <a routerLink="/vault" routerLinkActive="active">
      🔑 Password Vault
    </a>

    <a routerLink="/generator" routerLinkActive="active">
      ⚡ Generator
    </a>

    <a routerLink="/security-audit" routerLinkActive="active">
      🛡 Security
    </a>

    <a routerLink="/backup" routerLinkActive="active">
      📦 Import / Export
    </a>

    <a routerLink="/profile" routerLinkActive="active">
      👤 Profile
    </a>

  </nav>

</aside>